
*{
margin:0;
padding:0;
}

.regform{
width:700px;
background-color:rgba(43, 143, 43, 0.6);
margin:auto;
color:#FFFFFF;
padding:10px 0px 10px 0px;
text-align :center;
border-radius:15px 15px 0px 0px;
}

 .main{
        background-color:rgba(174, 236, 169, 0.5);
        width:700px;
        margin:auto;
        word-spacing: 2px;
        }
        
        form{
        padding:10px;
        }
.namev{
position:relative;
left:200px;    
width:150px;
border-radius:6px;
padding:0 2px;
font-size:16px;
color:rgb(8, 8, 8);
}
.name1{
    position:relative;
    left:90px;    
    width:150px;
    border-radius:6px;
    padding:0 2px;
    font-size:16px;
    color:rgb(8, 8, 8);
    }
    
.name2{
        position:relative;
        left:80px;    
        width:100px;
        border-radius:6px;
        padding:0 2px;
        font-size:16px;
        color:rgb(8, 8, 8);
        }
.name3{
        position:relative;
        left:125px;    
        width:100px;
        border-radius:6px;
        padding:0 2px;
        font-size:16px;
        color:rgb(8, 8, 8);
        }
.name5{
        position:relative;
        left:85px;    
        width:60px;
        border-radius:6px;
        padding:0 2px;
        font-size:16px;
        color:rgb(8, 8, 8);
        }

.name6{
        position:relative;
        left:125px;    
        width:60px;
        border-radius:6px;
        padding:0 2px;
        font-size:16px;
        color:rgb(8, 8, 8);
        }
    .post{
        position:relative;
        left:100px;    
        width:150px;
        border-radius:6px;
        padding:0 2px;
        font-size:16px;
        color:rgb(8, 8, 8);
        }
.over{
        position:relative;
        left:90px;    
        width:155px;
        border-radius:6px;
        padding:0 2px;
        font-size:16px;
        color:rgb(8, 8, 8);
}
.fields{
    position:relative;
        left:22px;    
        width:90px;
        height: 30px;
        border-radius:15px;
        padding:0 10px;
        font-size:14px;
        color:rgb(8, 8, 8);
}
.add{
    position:relative;
        left:50px;    
        width:153px;
        height: 40px;
        border-radius:6px;
        padding:0 2px;
        font-size:13px;
        color:rgb(8, 8, 8);
}
.one{
    position:relative;
        left:90px;    
        width:80px;
        height: 25px;       
        border-radius:6px;
        padding:0 2px;
        font-size:13px;
        color:rgb(8, 8, 8);
}
.add1{
    position:relative;
        left:20px;    
        width:130px;
        height: 25px;
        border-radius:6px;
        padding:0 2px;
        font-size:13px;
        color:rgb(8, 8, 8);
}
.add2{
    position:relative;
        left:55px;    
        width:130px;
        height: 25px;
        border-radius:6px;
        padding:0 2px;
        font-size:13px;
        color:rgb(8, 8, 8);
}

.submit {
    background-color: #ddd;
    border: none;
    color: black;
    padding: 12px 22px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition: 0.3s;
    }
    
    .submit:hover {
    background-color: #15b61b;
    color: white;
    }
    
   
